body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.site-grid {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.site-header {
    text-align: center;
    padding-bottom: 20px;
}

.site-sidebar {
    padding-top: 20px;
    text-align: right;
}

.site-main {
    margin: 0 auto;
}

.site-main img {
    max-width: 300px;
}

.site-links {
    padding-top: 30px;
    text-align: left;
}

.github-icon {
    position: fixed;
    font-size: 24px;
    color: black;
    color: black;
}

.github-icon:hover {
    color: orangered;
}

.meme-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.meme {
    margin-bottom: 20px;
}

.meme img {
    max-width: 100px;
    height: auto;
    transition: max-width 0.3s ease;
}

.meme img:hover {
    max-width: 200px;
}

.caption {
    font-size: small;
    font-style: italic;
    margin-top: 10px;
    max-width: 300px;

}

ul {
    margin-bottom: 20px;
}

section+section::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 2px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
}