---
import { siteMetadata } from '~/constants';

import BestPractices from '~/sections/best-practices.astro';
import Contributing from '~/sections/contributing.astro';
import Manifesto from '~/sections/manifesto.astro';
import Overview from '~/sections/overview.astro';
import Principles from '~/sections/principles.astro';
import Specification from '~/sections/specification.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title={siteMetadata.description}>
  <main>
    <Hero />

    <Overview />

    <Manifesto />

    <Principles />

    <Specification />

    <BestPractices />

    <Contributing />
  </main>
</Layout>
