---
import { Image } from 'astro:assets';

import { siteMetadata } from '~/constants';
import book from '../assets/book.webp';
---

<div class="bg-gray-100">
  <div
    class="container flex flex-col md:flex-row lg:items-center max-w-5xl mx-auto px-12 py-8 lg:py-16"
  >
    <div class="flex flex-col justify-center flex-grow">
      <h1 class="text-2xl lg:text-4xl font-semibold">{siteMetadata.title}</h1>

      <h2 class="mt-2 text-xl lg:text-2xl font-light">
        {siteMetadata.description}.
      </h2>
    </div>

    <div class="rotate-6 flex justify-center items-center flex-col">
      <Image
        class="block w-full max-w-sm mx-auto h-auto shadow-2xl rounded-xl transform mt-10"
        src={book}
        alt="Meme-Driven Development Book"
        width="200"
        height="100"
      />
      <div class="text-gray-600 text-xs italic opacity-80 mt-2">
        <a
          href="https://www.reddit.com/r/ProgrammerHumor/comments/1gkd2bb/probablyanotsogoodidea/"
          target="_blank">Image source</a
        >
      </div>
    </div>
  </div>
</div>
