---
import { Icon } from 'astro-icon/components';
import { siteMetadata } from '~/constants';
import GitHubRepo from '~/components/GitHubRepo.astro';
---

<nav class="py-8 px-8 bg-gray-100">
  <div class="container max-w-5xl lg:mx-auto">
    <div
      class="bg-navbar rounded-lg flex items-center justify-between px-8 lg:px-12 py-4 lg:py-6"
    >
      <div class="flex items-center shrink-0 text-white mr-6">
        <a href="/" aria-label={siteMetadata.title}>
          <Icon name="awesome" size={48} class="w-8 lg:w-12" />
        </a>
      </div>

      <div class="flex justify-end">
        <ul
          class="flex flex-row flex-wrap text-sm max-lg:text-xs items-center list-none space-x-4 max-md:space-x-1"
        >
          {siteMetadata.menuLinks.map((item) => (
              <li class="py-2.5">
                <a
                  href={item.path}
                  class:list={[
                    "py-1.5 lg:py-2 px-2 lg:px-3",
                    "nav-link font-light",
                    "border rounded-lg border-white",
                    "max-sm:hidden",
                  ]}
                >
                  {item.name}
                </a>
              </li>
            ))}

          <li><GitHubRepo /></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
