---
import SectionRow from "~/layouts/SectionRow.astro";
---

<SectionRow title="Meme Driven Development Manifesto" anchor="manifesto" isDark>
  <div class="flex flex-col gap-4">
    <div>
      We are uncovering better ways of developing software by creating and
      sharing memes. Through this work, we have come to value:
    </div>

    <ul class="list-none mb-8 space-y-4 ml-5">
      <li>
        <strong>Memes over Documentation</strong><br />
        That is, while there is value in comprehensive documentation, we value the
        creativity and engagement that memes bring more.
      </li>

      <li>
        <strong>Humor over Formality</strong><br />
        That is, while formal communication has its place, we find that humor fosters
        a more collaborative and enjoyable environment.
      </li>

      <li>
        <strong>Visual Feedback over Textual Feedback</strong><br />
        That is, while textual feedback is useful, we believe that visual feedback
        through memes is more impactful and memorable.
      </li>

      <li>
        <strong>Team Spirit over Individual Effort</strong><br />
        That is, while individual contributions are important, we prioritize the
        collective spirit and camaraderie that memes help build.
      </li>
    </ul>
  </div>
</SectionRow>
