---
import SectionRow from '~/layouts/SectionRow.astro';
---

<SectionRow title="Meme Driven Development (MDD)" anchor="overview">
  <div class="flex flex-col gap-4">
    <div>
      Meme Driven Development (MDD) is a novel approach to software development
      derived from popular legacy methadologies like Test Driven Development
      (TDD) and Behavior Driven Development (BDD).
    </div>

    <div>
      Meme Driven Development (MDD) aims to foster a creative and engaging
      environment for software development.
    </div>

    <div>
      By integrating humor and visual communication, MDD enhances team
      collaboration and makes the development process more enjoyable.
    </div>
  </div>
</SectionRow>

