---
import SectionRow from '~/layouts/SectionRow.astro';
---
<SectionRow
  title="Principles behind the Meme Driven Development Manifesto"
  anchor="principles"
>
  <div class="flex flex-col gap-4">
    <div>We follow these principles:</div>

    <ol class="list-decimal list-inside space-y-2 ml-5">
      <li>
        Our highest priority is to satisfy the team through early and continuous
        delivery of memes.
      </li>
      <li>
        Welcome changing memes, even late in development. Memes harness change
        for the team's advantage.
      </li>
      <li>
        Deliver memes frequently, from a couple of times a day to a couple of
        times a week, with a preference to the shorter timescale.
      </li>
      <li>
        Business people and developers must work together daily throughout the
        project, sharing and enjoying memes.
      </li>
      <li>
        Build projects around motivated individuals. Give them the environment
        and support they need, and trust them to create great memes.
      </li>
      <li>
        The most efficient and effective method of conveying information to and
        within a development team is face-to-face conversation, supplemented by
        memes.
      </li>
      <li>Memes are the primary measure of progress.</li>
      <li>
        Meme Driven Development promotes sustainable development. The sponsors,
        developers, and users should be able to maintain a constant pace
        indefinitely.
      </li>
      <li>
        Continuous attention to meme quality and meme design enhances agility.
      </li>
      <li>
        Simplicity—the art of maximizing the amount of meme not done—is
        essential.
      </li>
      <li>The best memes emerge from self-organizing teams.</li>
      <li>
        At regular intervals, the team reflects on how to become more effective,
        then tunes and adjusts its meme creation and sharing accordingly.
      </li>
    </ol>
  </div>
</SectionRow>
