---
import { marked } from 'marked';

export interface Props {
  title: string;
  description?: string;
  anchor?: string;
  isDark?: boolean;
  withCol?: boolean;
}

const {
  title,
  description = '',
  anchor,
  isDark = false,
  withCol = false,
} = Astro.props;
---

<div
  class:list={[
    "flex px-12 py-16 lg:py-24",
    isDark ? "bg-gray-800 text-white" : "bg-gray-50",
  ]}
>
  <a id={anchor}></a>
  <div
    class:list={[
      "container max-w-5xl mx-auto flex flex-col items-center",
      "lg:space-x-36 lg:flex-row",
    ]}
  >
    <div class="flex-1">
      <h3 class="mb-4 text-xl lg:text-2xl font-semibold">{title}</h3>
      <div
        class="text-lg lg:text-xl font-light"
        set:html={marked(description)}
      />
      {!withCol ? <slot /> : null}
    </div>

    {withCol ? <slot /> : null}
  </div>
</div>
